# .apply() method

In [20]:
import pandas as pd

bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)

bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [21]:
def add_millions(number):
    return str(number) + " Millions!"

bond["Box Office"] = bond["Box Office"]. apply(add_millions)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions!,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions!,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions!,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 Millions!,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 Millions!,154.2,17.9

In [22]:
bond["Budget"] = bond["Budget"]. apply(add_millions)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions!,54.5 Millions!,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions!,145.3 Millions!,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions!,85.0 Millions!,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 Millions!,34.7 Millions!,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 Millions!,154.2 Millions!,17.9

# or

In [23]:
columns= ["Box Office","Budget","Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(add_millions)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions! Millions!,54.5 Millions! Millions!,9.1 Millions!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions! Millions!,145.3 Millions! Millions!,3.3 Millions!
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions! Millions!,85.0 Millions! Millions!,nan Millions!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 Millions! Millions!,34.7 Millions! Millions!,5.8 Millions!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 Millions! Millions!,154.2 Millions! Millions!,17.9 Millions!

# .apply() method Row wise

In [32]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Roger Moore" or budget == 40:
        return "Enjoyable"
    else:
        return "Inhave no idea"

bond.apply(good_movie, axis = "columns").head()

Film
A View to a Kill             Enjoyable
Casino Royale           Inhave no idea
Casino Royale           Inhave no idea
Diamonds Are Forever    Inhave no idea
Die Another Day               The Best
dtype: object